<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cct.cds.check.mbg.mapper.AssetchecktaskMapper">
  <resultMap id="BaseResultMap" type="cct.cds.check.mbg.model.Assetchecktask">
    <id column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="taskAbstract" jdbcType="VARCHAR" property="taskabstract" />
    <result column="taskBegin" jdbcType="TIMESTAMP" property="taskbegin" />
    <result column="taskEnd" jdbcType="TIMESTAMP" property="taskend" />
    <result column="username4unit" jdbcType="VARCHAR" property="username4unit" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    taskId, orgId, taskAbstract, taskBegin, taskEnd, username4unit, createtime
  </sql>
  <select id="selectByExample" parameterType="cct.cds.check.mbg.model.AssetchecktaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from assetchecktask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assetchecktask
    where taskId = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assetchecktask
    where taskId = #{taskid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cct.cds.check.mbg.model.AssetchecktaskExample">
    delete from assetchecktask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cct.cds.check.mbg.model.Assetchecktask">
    insert into assetchecktask (taskId, orgId, taskAbstract, 
      taskBegin, taskEnd, username4unit, 
      createtime)
    values (#{taskid,jdbcType=INTEGER}, #{orgid,jdbcType=VARCHAR}, #{taskabstract,jdbcType=VARCHAR}, 
      #{taskbegin,jdbcType=TIMESTAMP}, #{taskend,jdbcType=TIMESTAMP}, #{username4unit,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cct.cds.check.mbg.model.Assetchecktask">
    insert into assetchecktask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskId,
      </if>
      <if test="orgid != null">
        orgId,
      </if>
      <if test="taskabstract != null">
        taskAbstract,
      </if>
      <if test="taskbegin != null">
        taskBegin,
      </if>
      <if test="taskend != null">
        taskEnd,
      </if>
      <if test="username4unit != null">
        username4unit,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="taskabstract != null">
        #{taskabstract,jdbcType=VARCHAR},
      </if>
      <if test="taskbegin != null">
        #{taskbegin,jdbcType=TIMESTAMP},
      </if>
      <if test="taskend != null">
        #{taskend,jdbcType=TIMESTAMP},
      </if>
      <if test="username4unit != null">
        #{username4unit,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cct.cds.check.mbg.model.AssetchecktaskExample" resultType="java.lang.Integer">
    select count(*) from assetchecktask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update assetchecktask
    <set>
      <if test="record.taskid != null">
        taskId = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.orgid != null">
        orgId = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.taskabstract != null">
        taskAbstract = #{record.taskabstract,jdbcType=VARCHAR},
      </if>
      <if test="record.taskbegin != null">
        taskBegin = #{record.taskbegin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskend != null">
        taskEnd = #{record.taskend,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username4unit != null">
        username4unit = #{record.username4unit,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update assetchecktask
    set taskId = #{record.taskid,jdbcType=INTEGER},
      orgId = #{record.orgid,jdbcType=VARCHAR},
      taskAbstract = #{record.taskabstract,jdbcType=VARCHAR},
      taskBegin = #{record.taskbegin,jdbcType=TIMESTAMP},
      taskEnd = #{record.taskend,jdbcType=TIMESTAMP},
      username4unit = #{record.username4unit,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cct.cds.check.mbg.model.Assetchecktask">
    update assetchecktask
    <set>
      <if test="orgid != null">
        orgId = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="taskabstract != null">
        taskAbstract = #{taskabstract,jdbcType=VARCHAR},
      </if>
      <if test="taskbegin != null">
        taskBegin = #{taskbegin,jdbcType=TIMESTAMP},
      </if>
      <if test="taskend != null">
        taskEnd = #{taskend,jdbcType=TIMESTAMP},
      </if>
      <if test="username4unit != null">
        username4unit = #{username4unit,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cct.cds.check.mbg.model.Assetchecktask">
    update assetchecktask
    set orgId = #{orgid,jdbcType=VARCHAR},
      taskAbstract = #{taskabstract,jdbcType=VARCHAR},
      taskBegin = #{taskbegin,jdbcType=TIMESTAMP},
      taskEnd = #{taskend,jdbcType=TIMESTAMP},
      username4unit = #{username4unit,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
</mapper>