<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cct.cds.check.mbg.mapper.OrglistingMapper">
  <resultMap id="BaseResultMap" type="cct.cds.check.mbg.model.Orglisting">
    <id column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="unitName" jdbcType="VARCHAR" property="unitname" />
    <result column="userType" jdbcType="VARCHAR" property="usertype" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="labelModule" jdbcType="VARCHAR" property="labelmodule" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orgId, unitName, userType, contact, phone, labelModule, notes, createtime
  </sql>
  <select id="selectByExample" parameterType="cct.cds.check.mbg.model.OrglistingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orglisting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orglisting
    where orgId = #{orgid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orglisting
    where orgId = #{orgid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cct.cds.check.mbg.model.OrglistingExample">
    delete from orglisting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cct.cds.check.mbg.model.Orglisting">
    insert into orglisting (orgId, unitName, userType, 
      contact, phone, labelModule, 
      notes, createtime)
    values (#{orgid,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{labelmodule,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cct.cds.check.mbg.model.Orglisting">
    insert into orglisting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgid != null">
        orgId,
      </if>
      <if test="unitname != null">
        unitName,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="labelmodule != null">
        labelModule,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null">
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="labelmodule != null">
        #{labelmodule,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cct.cds.check.mbg.model.OrglistingExample" resultType="java.lang.Integer">
    select count(*) from orglisting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orglisting
    <set>
      <if test="record.orgid != null">
        orgId = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.unitname != null">
        unitName = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.usertype != null">
        userType = #{record.usertype,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.labelmodule != null">
        labelModule = #{record.labelmodule,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null">
        notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orglisting
    set orgId = #{record.orgid,jdbcType=VARCHAR},
      unitName = #{record.unitname,jdbcType=VARCHAR},
      userType = #{record.usertype,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      labelModule = #{record.labelmodule,jdbcType=VARCHAR},
      notes = #{record.notes,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cct.cds.check.mbg.model.Orglisting">
    update orglisting
    <set>
      <if test="unitname != null">
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="labelmodule != null">
        labelModule = #{labelmodule,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orgId = #{orgid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cct.cds.check.mbg.model.Orglisting">
    update orglisting
    set unitName = #{unitname,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      labelModule = #{labelmodule,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where orgId = #{orgid,jdbcType=VARCHAR}
  </update>
</mapper>